<div class="modal-overlay">
    <div class="modal-content">
        <h3>Review Pengajuan - {{ loan.applicantName }}</h3>
        <p><strong>ID Pengajuan:</strong> {{ loan.id }}</p>

        <div class="card-clean">
            {{loan.loanAmount}}
        </div>

        <textarea [(ngModel)]="notes" class="form-control" rows="4"
            placeholder="Tulis catatan review di sini..."></textarea>

        <button (click)="submit()" class="btn btn-primary my-1" [disabled]="!notes.trim()">Kirim Review</button>
        <button (click)="closeModal()" class="btn btn-secondary">Tutup</button>
    </div>
</div>